<main class="hero">
  <section class="container">
    <div class="content">
      <div class="text">
        <!-- <h1>TI'A grožio salonas Kaune</h1>
        <p>Profesionalus Kobido, kirpimai ir makiažas Kaune.</p>
        <p> -->
          <!-- ♡ Kobido masažas yra vienas iš veiksmingiausių natūralių metodų,
          skirtų odos būklei pagerinti, senėjimo procesams lėtinti. ♡
          Registracija tel. +37062023993. Taip pat teikiame kirpimo, dažymo,
          makiažo, antakių dizaino ir manikiūro paslaugas – viskas, ko reikia
          jūsų grožiui vienoje vietoje.
        </p>
      </div>
      <div class="image">
        <img
          alt="TI'A"
          width="1600"
          height="1067"
          src="https://ti-a-grozio-salonas.vercel.app/assets/1-B2r2VTMv.jpg"
        /> -->
      </div>
    </div>
  </section>
</main>
