# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
.nyc_output/

# Build output
build/
dist/
.cache/
.next/
out/
.tmp/
tmp/
temp/

# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Tool caches
.node_repl_history
.parcel-cache/
.turbo/
.vite/
.eslintcache
.stylelintcache

# Package managers
.pnpm-store/

# Editors and IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Hosting/platform
.vercel/
.netlify/
